@model WS.Models.SalesType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sales_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sales_type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tax_included)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tax_included)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.factor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.factor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inactive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
