@model IEnumerable<WS.Models.SalesType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sales_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tax_included)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.factor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inactive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sales_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tax_included)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.factor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inactive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
